{{ define "about.html"}}
    <!-- Page with Sidebar -->
    <section id="content" role="main" class="container">
        <div class="span12 hr_pattern"></div>

        <!-- Content column -->
        <div class="span8">
            <i>" Innovation is to make all sorts of things together. " - Steve Jobs</i>
            <p>XXX</p>

        </div> <!-- / Content column -->

        <!-- Sidebar -->
        <aside class="span4">
            <h3>Contact</h3>
            <ul class="side-nav">
                <li><a href="https://github.com/SUN06444" target="_blank"><i class="fa fa-github fa-2x"></i> SUN06444</a></li>
                <li><a href="#"><i class="fa fa-phone fa-2x"></i> 0988621848</a></li>
                <li><a href="#"><i class="fa fa-envelope fa-lg"></i> sunnu06444@gmail.com</a></li>
                <li><a href="https://sunnu06-cv.herokuapp.com/" target="_blank" ><i class="fa fa-user fa-lg"></i> Curriculum Vitae(CV)</a></li>
            </ul>
        </aside>
    </section>


    <section id="content" role="main" class="container">
    <div class="span12 hr_pattern"></div>
        <!-- Sidebar -->
        <aside class="span4">
            <h3>Front End Skills</h3>
            <ul class="side-nav">
                <li><a href="#"> HTML & CSS</a></li>
                <li><a href="#">  RWD & Bootstrap</a></li>

            </ul>
        </aside>
    <!-- Sidebar -->
    <aside class="span4">
        <h3>Bank end Skills (with Mysql)</h3>
        <ul class="side-nav">
            <li><a href="#"> PHP & Laravel Framework</a></li>
            <li><a href="#"> Golang & Gin Framework</a></li>
        </ul>
    </aside>
        <!-- Sidebar -->
        <aside class="span4">
            <h3>IoT</h3>
            <ul class="side-nav">
                <li><a href="#"> Arduino + ESP8266
                        <br>(iOS app Remote Control) </a></li>


            </ul>
        </aside>
<!--
    <div class="span4">
        <h3>Second block</h3>
        <p>Nel mezzo del cammin di nostra vita mi ritrovai per una selva oscura, ché la diritta via era smarrita.
            <a href="#">pensier rinova la paura</a>
            <a href="#">pianeta che mena</a> dritto altrui per ogne calle.</p>
    </div>
-->
</section>
{{ end }}