<!doctype html>

<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

{{ template "head.html"}}
<body id="portfolio-4">

	<!-- Logo, Headline, Navigation -->
	{{ template "navigation.html"}}

	<!-- Portfolio Page -->
    <section id="content" role="main" class="container">

        <!-- Page heading and Navigation -->
        <h1 class="span12">Side Project </h1>
        <div class="span12 hr_pattern"></div>
        <ul class="span12 filter">
            <li class="active"><a href="#all">All</a> <span class="divider">/</span></li>
            <li><a href="#portfolio">Portfolio</a> <span class="divider">/</span></li>
            <li><a href="#arduino">Arduino+ESP8266</a> <span class="divider">/</span></li>
            <li><a href="#iOS">iOS</a> <span class="divider">/</span></li>
            <li><a href="#uiux">UI&UX</a></li>
        </ul>
        <!-- </div> -->

        <div class="filterable">

            <!-- Portfolio (MES+Seminar+Reanthouse) -->
            <div class="span3 portfolio">
                <div class="media">
                    <a class="object" data-hover="icon-zoom" href="/public/img/content/744/portfolio/mes2.jpg" data-rel="gallery[portfolio]"><img src="/public/img/content/269/portfolio/mes2.jpg" alt="Manufacturing Execution System"></a>
                    <div class="caption">
                        <h3>Manufacturing Execution System (MES)</h3>
                        <p><a href="/sideproject/portfolio_details.html?projectID=1" class="button mini">More &rarr;</a></p>
                    </div>
                </div>
            </div>

            <div class="span3 portfolio">
                <div class="media">
                    <a class="object" data-hover="icon-zoom" href="/public/img/content/744/portfolio/Seminar.jpg" data-rel="gallery[portfolio]"><img src="/public/img/content/269/portfolio/Seminar.jpg" alt="ERP/SFT Learning System"></a>
                    <div class="caption">
                        <h3>ERP/SFT Learning System </h3>
                        <p><a href="/sideproject/portfolio_details.html?projectID=2" class="button mini">More &rarr;</a></p>
                    </div>
                </div>
            </div>

            <div class="span3 portfolio">
                <div class="media">
                    <a class="object" data-hover="icon-zoom" href="/public/img/content/744/portfolio/renthouse.jpg" data-rel="gallery[portfolio]"><img src="/public/img/content/269/portfolio/renthouse.jpg" alt="Renthouse Web"></a>
                    <div class="caption">
                        <h3>Renthouse Web
                        </h3>
                        <p><a href="/sideproject/portfolio_details.html?projectID=3" class="button mini">More &rarr;</a></p>
                    </div>
                </div>
            </div>


            <!-- iOS app -->
            <div class="span3 iOS">
                <div class="media">
                    <a class="object" data-hover="icon-zoom" href="/public/img/content/744/iOS/ios.jpg" data-rel="gallery[portfolio]"><img src="/public/img/content/269/iOS/ios1.jpg" alt="IoT Remote Control (iOS Design)"></a>
                    <div class="caption">
                        <h3>IoT Remote Control <Br>
                            (iOS App)</h3>
                        <p><a href="/sideproject/portfolio_details.html?projectID=4" class="button mini">More &rarr;</a></p>
                    </div>
                </div>
            </div>

            <!-- Arduino+ESP8266 -->
            <div class="span3 arduino">
                <div class="media">
                    <a class="object" data-hover="icon-zoom" href="/public/img/content/744/arduino/factory.jpg" data-rel="gallery[portfolio]"><img src="/public/img/content/269/arduino/factory.jpg" alt="IoT Factory"></a>
                    <div class="caption">
                        <h3>IoT Factory</h3>
                        <p><a href="/sideproject/portfolio_details.html?projectID=5" class="button mini">More &rarr;</a></p>
                    </div>
                </div>
            </div>

            <div class="span3 arduino">
                <div class="media">
                    <a class="object" data-hover="icon-zoom" href="/public/img/content/744/arduino/CircuitLayout1.jpg" data-rel="gallery[portfolio]"><img src="/public/img/content/269/arduino/CircuitLayout1.jpg" alt="ESP8266+DHT11 (Circuit Layout)"></a>
                    <div class="caption">
                        <h3>ESP8266+DHT11 (Firebase)</h3>
                        <p><a href="/sideproject/portfolio_details.html?projectID=6" class="button mini">More &rarr;</a></p>
                    </div>
                </div>
            </div>

            <div class="span3 arduino">
                <div class="media">
                    <a class="object" data-hover="icon-zoom" href="/public/img/content/744/arduino/CircuitLayout2.jpg" data-rel="gallery[portfolio]"><img src="/public/img/content/269/arduino/CircuitLayout2.jpg" alt="Arduino+Bluetooth(HC06) (Circuit Layout)"></a>
                    <div class="caption">
                        <h3>Arduino+Bluetooth(HC06)</h3>
                        <p><a href="/sideproject/portfolio_details.html?projectID=7" class="button mini">More &rarr;</a></p>
                    </div>
                </div>
            </div>




            <!-- UI/UX app -->
            <div class="span3 uiux">
                <div class="media">
                    <a class="object" data-hover="icon-zoom" href="/public/img/content/744/uiux/pxmart/2.jpg" data-rel="gallery[portfolio]"><img src="/public/img/content/269/uiux/pxmart/2.jpg" alt="IoT Remote Control (iOS Design)"></a>
                    <div class="caption">
                        <h3>PX-mart Management and App Design</h3>
                        <p><a href="/sideproject/portfolio_details.html?projectID=8" class="button mini">More &rarr;</a></p>
                    </div>
                </div>
            </div>


        </div> <!-- / Filterable -->

    </section>
	<!-- / Portfolio Page -->

    {{ template "footer.html"}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/public/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

<!-- <script src="js/libs/jquery.flexslider.js"></script> -->
<!-- <script src="js/libs/gridpak.js"></script> -->
<script src="/public/js/plugins.js"></script>
<script src="/public/js/script.js"></script>

</body>
</html>
